<form [formGroup]="form">
    <div class="row">
        <div class="col">
            <!--<label for="identification">Cedula: </label>-->
            <input id="identification" type="text"  formControlName="identification" placeholder="Cedula" >
        </div>
        <div class="col">
            <input id="name" type="text" formControlName="name" placeholder="Nombre">
        </div>
        <div class="col">
            <!--<label for="lastName">Apellidos: </label>-->
            <input id="lastName" type="text" formControlName="lastName" placeholder="Apellidos">
        </div>
        <div class="col">
            <input id="phoneNumber" type="text" formControlName="phoneNumber" placeholder="Telefono">
        </div>
    </div>
    <div class="row">
        <div class="col">           
            <input id="office" type="text" formControlName="office" placeholder="Oficina">
        </div>
        <div class="col">
            <!--<label for="schedule">Horario: </label>-->
            <input id="schedule" type="text" formControlName="schedule" placeholder="Horario">
        </div>
        <div class="col">
            <!--<label for="specialty">Especialidad: </label>-->
            <input id="specialty" type="text" formControlName="specialty" placeholder="Especialidad">
        </div>
        <div class="col">
            <button (click)="submit()" type="button" class="btn btn-primary">Enviar</button>
        </div>        
    </div>
</form>